* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #525252;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-bottom: 50px;
}

footer {
  margin-top: auto;
}

#router {
  margin-top: 35px;
}
